html{
    background-color: #ffffff;

    body{
        h1{
            color: #ffffff;
        }
        h2{
            color: #ffffff;
        }

        header{
            background-color: #000000;
            height: 50vh;
            nav{
                background-color: #000000;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 10px;
                padding-bottom: 10px;

                .logo{
                    width: 200px;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-weight: bold;
                    
                    a{
                        color: #ffffff;
                        text-decoration: none;
                    }
                }

                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li{
                        padding-left: 15px;
                        padding-right: 15px;
                        display: inline-block;
                        a{
                            text-decoration: none;
                            color: #ffffff;
                            font-weight: bold;
                        }
                    }
                }
            }
            h1{
                font-size: 6vw;
                text-shadow: 4px 4px 0 #686d68;
                line-height: 3vw;
                font-weight: bold;
                text-align: center;
                letter-spacing: 4px;
                small{
                    width: 100%;
                    font-size: 2vw;
                    text-shadow:none;
                    font-weight: 100;
                }
            }
        }

    }
}
section{
    .main-mod{
        min-height: 50vh;
        padding-top: 60px;
        text-align: center;

        h2{
            font-size: 4em;
        }
    }
    .about{
        background-color: #00b8ff;
        p{
            color: #ffffff;
            font-size: 1.5em;
        }
    }
    .about-image{
        background-color: #ed543c;
    }
    .skills{
        background-color: #32cc33;
        p{
            color: #ffffff;
            font-size: 1.5em;
        }
    }
    .skills-image{
        background-color: #15e9ce;
    }
}
#Web{
    min-height: 100vh;
    padding-top: 60px;
    background-color: #000000;
}
#Games{
    min-height: 100vh;
    padding-top: 60px;
    background-color: #686d68;
}
#Contact{
    min-height: 100vh;
    padding-top: 60px;
    background-color: #9ba19b;
}
footer{
    background-color: #000000;
    color: #ffffff;
}