body{
    background-color: aliceblue;
    text-align: center;
}
.module{
    min-height: 100vh;
    padding: 30px;
}
.module h1{
    font-size: 2em;
    line-height: 0.5;
    text-transform: uppercase;
}
.module h1 small{
    font-size: 0.5em;
}
.module-secondary{
    background-color: #212529;
}
.module .list-group-item{
    background-color: transparent;
}
.module-secondary .list-group-item{
    background-color: transparent;
    color: white;
}