.about-content{
    padding-top: 120px;

    h1,h2,h3,h4{
        color: $main-dark;
        text-align: left;
    }

    

    h2{
        font-size: 3em;
    }

    p{
        color: $main-dark;
        font-family: $sub-font;
        font-weight: lighter;
        text-align: left;
        padding: 0;
    }

    .license-title{
        color: #ff8243;
    }

    .certs{
        
        a{
            img{
                transform: scale(0.8);
                transition: transform 0.1s ease-out;
                &:hover{
                    transform: scale(1.1) rotate(-20deg);
                }
            }
        }
    }
}

.experience-content{

    background: white;
    height: 300px;

    hr{
        color: $main-dark;
    }

    h2{
        font-size: 2em;
        color: $main-dark;
        text-align: left;
    }

    p{
        color: $main-dark;
        font-family: $sub-font;
        font-weight: lighter;
    }
    span{
        color: #212529;
    }
}

@media (max-width: 576px) { 
    .about-content{
        h2{
            font-size: 2em;
        }
    }
}


/* @include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
@include media-breakpoint-up(xxl) { ... } */