.contact-content{
    background-color: $main-dark ;
    padding-top: 120px;

    h1{
        color: #ff8243;
        font-family: $main-font;
    }

    .btn{
        opacity: 1;
        background-color: #ff8243 !important;
        border: none;
        color: white !important;
        font-family: $sub-font;
        letter-spacing: 2px;
        font-family: $main-font;
        position: relative;
        z-index: 2;
        transition: 0.25s ease all;

        &:hover{
            transform: scale(1.5);
        }
    }

    label{
        color: #ff8243;
        font-family: $sub-font;
    }

    .formLoading{
        display: none;
    }

    .contact-details{
        font-family: $main-font;
        text-align: left;
    }

    .contact-details-p{ 
        text-align: left;
        font-size: 1em;
        font-family: $sub-font;
    }

    .email-sent{
        display: none;
    }
}

@media (max-width: 576px) { 
    .contact-content{
        h1{
            font-size: 2.5em;

            small{
                font-size: 0.5em !important;
            }
        }
    }
}