footer{
    text-align: center;
    height: 12vh;
    position: relative;
    background-color: white;
    border-radius: 150px 150px 0 0;
    
    ul{
        background-color: transparent;
        list-style: none;
        margin: 0 auto;
        padding: 15px 0 15px 0;
        text-align: center;
        position: relative;
        z-index: 2;
        
        li{
            font-family: $main-font;
            display: inline-flex;
            color: $main-dark;
            margin: 0 15px 0 15px;
            text-align: center;
            font-size: 1.5em;

            a{
                color: #212529;

                &:hover{
                    color: $main-dark;
                    transform: scale(1.1);
                }
            }
        }
    }

    .copy{
        position: relative;
        color: #212529;
        z-index: 3;
        font-family: $sub-font;
        font-size: 0.8em;
    }

}
@media (max-width: 576px) { 

    footer{
        height: 10vh;
    }

}