

.fiber-module{
    min-height: 100vh;
    overflow: hidden;
    padding: 0;

    h1{
        color: gray;
    }
}

.module{
    min-height: 100vh;
    z-index: 1 !important;
}

.module h1{
    font-size: 4em;
    line-height: 0.8;
}

.module h1 small{
    font-size: 0.3em;
}

.module-secondary{
    background-color: $main-dark;
}

.module .list-group-item{
    background-color: transparent;
}

.module-secondary .list-group-item{
    background-color: transparent;
    color: white;
}

@media (min-width: 576px) { 

    .module{
        min-height: 100vh;
    }

    .module h1{
        line-height: 0.5;
    }
}