nav{
    background-color: transparent;
    text-align: center;
    opacity: 1;
    ul{
        background-color: transparent;
        list-style: none;
        margin: 0 auto;
        padding: 15px 0 15px 0;
        text-align: center;
        li{
            font-family: $main-font;
            display: inline-flex;
            color: #fff;
            margin: 0 15px 0 15px;
            text-align: center;
        }
    }

    .active{
        color: white;
    }
}