.module{
    min-height: 100vh;
    padding: 30px;
}
.module h1{
    font-size: 4em;
    line-height: 0.5;
}
.module h1 small{
    font-size: 0.3em;
}
.module-secondary{
    background-color: $main-dark;
}
.module .list-group-item{
    background-color: transparent;
}
.module-secondary .list-group-item{
    background-color: transparent;
    color: white;
}
.myStats{
    background-color:darkslategrey;
    color: white;
    z-index: 2;
}