/* @font-face {
    font-family: 'myFontBold';
    src: url("../fonts/brandon-grotesque-black.otf") format("truetype");
} */
@font-face {
  font-family: 'myFontBold';
  src: url("../fonts/Orbitron-Medium.ttf");
}

@font-face {
  font-family: 'myFontLight';
  src: url("../fonts/brandon-grotesque-light.otf") format("truetype");
}

body {
  background-color: #212529;
  text-align: center;
  font-family: 'myFontBold';
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

body h1 {
  text-transform: uppercase;
}

body h1 small {
  font-family: 'myFontLight';
  font-weight: 100;
  text-transform: uppercase;
}

body a {
  text-decoration: none;
  color: #999999;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body a:hover {
  color: white;
}

nav {
  background-color: rgba(33, 37, 41, 0.5);
  text-align: center;
  opacity: 1;
  z-index: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

nav ul {
  background-color: transparent;
  list-style: none;
  margin: 0 auto;
  padding: 15px 0 15px 0;
  text-align: center;
}

nav ul li {
  font-family: "myFontBold", sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  margin: 0 15px 0 15px;
  text-align: center;
}

nav ul li a {
  color: white;
}

nav ul li a:hover {
  color: #ff8243;
}

nav .active {
  color: white;
}

nav .main-link {
  color: white;
}

nav .main-link:hover {
  color: #ff8243;
}

.btn {
  border-radius: 30px;
}

.fiber-module {
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
}

.fiber-module h1 {
  color: gray;
}

.module {
  min-height: 100vh;
  z-index: 1 !important;
}

.module h1 {
  font-size: 4em;
  line-height: 0.8;
}

.module h1 small {
  font-size: 0.3em;
}

.module-secondary {
  background-color: #212529;
}

.module .list-group-item {
  background-color: transparent;
}

.module-secondary .list-group-item {
  background-color: transparent;
  color: white;
}

@media (min-width: 576px) {
  .module {
    min-height: 100vh;
  }
  .module h1 {
    line-height: 0.5;
  }
}

#home {
  background: #212529;
  color: #ffffff;
}

#home #experience {
  width: 100%;
}

#home #experience canvas {
  width: 100%;
}

#home h1 {
  font-family: "myFontBold", sans-serif;
  position: relative;
  z-index: 2;
  opacity: 1;
}

#home h1 small {
  opacity: 1;
  font-family: "myFontLight", sans-serif;
  font-size: 0.3em;
  color: white;
}

#home .btn {
  opacity: 1;
  background-color: white;
  border: none;
  color: #212529;
  font-family: "myFontLight", sans-serif;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.25s ease all;
  transition: 0.25s ease all;
}

#home .btn:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.about-content {
  padding-top: 120px;
}

.about-content h1, .about-content h2, .about-content h3, .about-content h4 {
  color: #212529;
  text-align: left;
}

.about-content h2 {
  font-size: 3em;
}

.about-content p {
  color: #212529;
  font-family: "myFontLight", sans-serif;
  font-weight: lighter;
  text-align: left;
  padding: 0;
}

.about-content .license-title {
  color: #ff8243;
}

.about-content .certs a img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.about-content .certs a img:hover {
  -webkit-transform: scale(1.1) rotate(-20deg);
          transform: scale(1.1) rotate(-20deg);
}

.experience-content {
  background: white;
  height: 300px;
}

.experience-content hr {
  color: #212529;
}

.experience-content h2 {
  font-size: 2em;
  color: #212529;
  text-align: left;
}

.experience-content p {
  color: #212529;
  font-family: "myFontLight", sans-serif;
  font-weight: lighter;
}

.experience-content span {
  color: #212529;
}

@media (max-width: 576px) {
  .about-content h2 {
    font-size: 2em;
  }
}

/* @include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
@include media-breakpoint-up(xxl) { ... } */
.portfolio-content {
  background-color: gray;
}

.portfolio-content h1 {
  color: white;
}

.portfolio-content h2, .portfolio-content h3, .portfolio-content h4, .portfolio-content h5 {
  color: white;
}

.portfolio-content ul li {
  color: white;
}

.portfolio-content .carousel {
  height: 100vh;
}

.portfolio-content .carousel .carousel-indicators {
  bottom: -10px;
}

.portfolio-content .carousel .carousel-indicators .active {
  background-color: #ff8243;
}

.portfolio-content .carousel .carousel-indicators [data-bs-target] {
  height: 5px;
  width: 30px;
}

.portfolio-content .carousel .carousel-caption {
  background-color: rgba(33, 37, 41, 0.8);
  bottom: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-family: "myFontLight", sans-serif;
}

.portfolio-content .carousel .carousel-caption h5 {
  font-size: 4em;
  line-height: 0.8;
}

.portfolio-content .carousel .carousel-caption a {
  color: white;
}

.portfolio-content .carousel .carousel-caption .liveButton {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 5px 10px 3px 10px;
  border-radius: 25px;
  background-color: #ff8243;
  letter-spacing: 2px;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.portfolio-content .carousel .carousel-caption .liveButton:hover {
  background-color: #e96422;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact-content {
  background-color: #212529;
  padding-top: 120px;
}

.contact-content h1 {
  color: #ff8243;
  font-family: "myFontBold", sans-serif;
}

.contact-content .btn {
  opacity: 1;
  background-color: #ff8243 !important;
  border: none;
  color: white !important;
  font-family: "myFontLight", sans-serif;
  letter-spacing: 2px;
  font-family: "myFontBold", sans-serif;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.25s ease all;
  transition: 0.25s ease all;
}

.contact-content .btn:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.contact-content label {
  color: #ff8243;
  font-family: "myFontLight", sans-serif;
}

.contact-content .formLoading {
  display: none;
}

.contact-content .contact-details {
  font-family: "myFontBold", sans-serif;
  text-align: left;
}

.contact-content .contact-details-p {
  text-align: left;
  font-size: 1em;
  font-family: "myFontLight", sans-serif;
}

.contact-content .email-sent {
  display: none;
}

@media (max-width: 576px) {
  .contact-content h1 {
    font-size: 2.5em;
  }
  .contact-content h1 small {
    font-size: 0.5em !important;
  }
}

footer {
  text-align: center;
  height: 12vh;
  position: relative;
  background-color: white;
  border-radius: 150px 150px 0 0;
}

footer ul {
  background-color: transparent;
  list-style: none;
  margin: 0 auto;
  padding: 15px 0 15px 0;
  text-align: center;
  position: relative;
  z-index: 2;
}

footer ul li {
  font-family: "myFontBold", sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #212529;
  margin: 0 15px 0 15px;
  text-align: center;
  font-size: 1.5em;
}

footer ul li a {
  color: #212529;
}

footer ul li a:hover {
  color: #212529;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .copy {
  position: relative;
  color: #212529;
  z-index: 3;
  font-family: "myFontLight", sans-serif;
  font-size: 0.8em;
}

@media (max-width: 576px) {
  footer {
    height: 10vh;
  }
}
/*# sourceMappingURL=style.css.map */