@font-face {
    font-family: 'myFontBold';
    src: url("../fonts/brandon-grotesque-black.otf") format("truetype");
}
@font-face {
    font-family: 'myFontLight';
    src: url("../fonts/brandon-grotesque-light.otf") format("truetype");
}
$main-dark: #212529;
$main-font: 'myFontBold', sans-serif;
$sub-font: 'myFontLight', sans-serif;
$theme-colors:(
    "main": #212529
);

body{
    background-color: aliceblue;
    text-align: center;
    font-family: 'myFontBold';
    transition: transform 1s ease-out;

    h1{
        text-transform: uppercase;
    }

    a{
        text-decoration: none;
        color: #999999;
        transition: 0.2s ease-in-out;

        &:hover{
            color: white;
        }
    }
}
small{
    font-family: 'myFontLight';
    font-weight: 100;
    text-transform: uppercase;
}
@import "./_navbar.scss";
@import "./_buttons.scss";
@import "./_modules.scss";
@import "./_home.scss";
@import "./_about.scss";
@import "./_portfolio.scss";
@import "./_contact.scss";
@import "./_footer.scss";